In [55]:
import pandas as pd
import os

In [57]:
league_name = 'Test_League'
path = f'{os.getcwd()}\{league_name}\{league_name}Standings.csv'
old_Standings = pd.read_csv(path)

In [59]:
__remove_unnamed(old_Standings)

,Driver Name,Team,Monza,Mexiko,China,Austria,Abu Dhabi,Bahrain,Total
0,Hallo,Alfa Romeo,0,21,21,21,21,21,105
1,Zimmi,Alpha Tauri,25,15,15,15,15,15,100
2,EDK,Aston Martin,0,18,18,18,18,18,90
3,Malte,Red Bull,6,6,6,6,6,6,36
4,Robin,Alpha Tauri,0,1,1,1,1,1,5
5,Schmiddi,Alfa Romeo,0,8,8,8,8,8,40
6,Timo,McLaren,0,2,2,2,2,2,10
7,Tino,Mercedes,0,10,10,10,10,10,50
8,Mullenbesen,Mercedes,0,0,0,0,0,0,0
9,Advatange,Williams,0,0,0,0,0,0,0
10,Navaz,Alpine,0,12,12,12,12,12,60
11,Ayfl,Ferrari,18,0,0,0,0,0,18
12,Sash,Williams,12,3,3,3,3,3,27
13,Anubis,Haas,0,0,0,0,0,0,0
14,Henry,Red Bull,21,4,4,4,4,4,41
15,Leon,Alpha Tauri,0,0,0,0,0,0,0
16,Knoot,McLaren,0,25,25,25,25,25,125
17,Boski,Alpine,0,0,0,0,0,0,0
18,KMAG,Ferrari,0,0,0,0,0,0,0
19,Pander,Aston Martin,0,0,0,0,0,0,0

In [32]:
def __get_player_sum(Standings):
    total_points = []
    for i in range(len(Standings[:-1])+1):
        total_points.append((Standings.loc[i][2:-1].sum()))
    Standings['Total'] = total_points
    return Standings

In [5]:
def __remove_unnamed(__standings: pd.DataFrame):
    if 'Unnamed: 0' in __standings:
        __standings.drop('Unnamed: 0', axis=1, inplace=True)
    else:
        pass
    return __standings

In [ ]:
### outdated
def change_driver_results(Standings: pd.DataFrame, corr_Track: str, changed_driver: str, new_result):
    Standings = __remove_unnamed(Standings)
    #print(Standings)
    wanted_driver = Standings.index[Standings['Driver Name'] == changed_driver].values[0]
    #print(wanted_driver)
    #print(Standings[wanted_driver])
    #print(Standings.loc[4]) #= 15
    Standings.loc[wanted_driver, str(corr_Track)] = points[new_result]  # expects Full list of Race-result #TODO add same Funktion of set_result to change outcome after Penalty
    #Standings.reset_index(inplace=True)
    Standings = __remove_unnamed(Standings)
    #print(Standings)
    return Standings

In [12]:
def __get_driver_index(Standings: pd.DataFrame, changed_driver):
    index = Standings.index[Standings['Driver Name'] == changed_driver].values[0]
    return index

In [10]:
def __change_driver_results(Standings: pd.DataFrame, corr_Track: str, changed_driver: str, new_result, points: dict):
    wanted_driver = __get_driver_index(Standings, changed_driver)
    Standings.loc[int(wanted_driver), corr_Track] = points[new_result]  # expects Full list of Race-result
    Standings = __get_player_sum(Standings)
    Standings = __remove_unnamed(Standings)
    return Standings

In [41]:
def save_standings_to_csv(Standings: pd.DataFrame, league_name: str, mkdir: bool):
    current_dir = os.getcwd()
    path = os.path.join(current_dir, league_name)
    if not mkdir:  # will create a folder named after the league
        pass
    else:
        os.mkdir(path)
    Standings.to_csv(f'{path}\{league_name}Standings.csv')
    #await ctx.send(f'Saving Complete, lookup{league_name}Standings.csv')

In [ ]:
old_Standings = __remove_unnamed(old_Standings)
old_Standings

In [33]:
points_race = {'1': 25, '2': 21, '3': 18, '4': 15, '5': 12, '6': 10, '7': 8, '8': 6, '9': 4, '10': 3, '11': 2, '12': 1}

old_Standings = add_race(Standings=old_Standings, points_table=points_race, Race='Bahrain',
                         participants=['Knoot', 'Hallo', 'EDK', 'Zimmi', 'Navaz', 'Tino', 'Schmiddi', 'Malte', 'Henry', 'Sash', 'Timo', 'Robin'],
                         result=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'])

In [54]:
old_Standings

,Driver Name,Team,Monza,Mexiko,China,Austria,Abu Dhabi,Bahrain,Total
0,Hallo,Alfa Romeo,0,21,21,21,21,21,105
1,Zimmi,Alpha Tauri,25,15,15,15,15,15,100
2,EDK,Aston Martin,0,18,18,18,18,18,90
3,Malte,Red Bull,6,6,6,6,6,6,36
4,Robin,Alpha Tauri,0,1,1,1,1,1,5
5,Schmiddi,Alfa Romeo,0,8,8,8,8,8,40
6,Timo,McLaren,0,2,2,2,2,2,10
7,Tino,Mercedes,0,10,10,10,10,10,50
8,Mullenbesen,Mercedes,0,0,0,0,0,0,0
9,Advatange,Williams,0,0,0,0,0,0,0
10,Navaz,Alpine,0,12,12,12,12,12,60
11,Ayfl,Ferrari,18,0,0,0,0,0,18
12,Sash,Williams,12,3,3,3,3,3,27
13,Anubis,Haas,0,0,0,0,0,0,0
14,Henry,Red Bull,21,4,4,4,4,4,41
15,Leon,Alpha Tauri,0,0,0,0,0,0,0
16,Knoot,McLaren,0,25,25,25,25,25,125
17,Boski,Alpine,0,0,0,0,0,0,0
18,KMAG,Ferrari,0,0,0,0,0,0,0
19,Pander,Aston Martin,0,0,0,0,0,0,0

In [35]:
old_Standings[['Team', 'Total']].groupby('Team').sum()

              Total
Team
Alfa Romeo      145
Alpha Tauri     105
Alpine           60
Aston Martin     90
Ferrari          18
Haas              0
McLaren         135
Mercedes         50
Red Bull         77
Williams         27

changed_driver = 'Malte'
wanted_driver = old_Standings.index[old_Standings['Driver Name'] == changed_driver].values[0]

old_Standings.loc[wanted_driver, 'Bahrain'] = points_race['6']
old_Standings

In [60]:
old_Standings = __change_driver_results(old_Standings, 'Bahrain', 'Malte', '6', points_race)
old_Standings

,Driver Name,Team,Monza,Mexiko,China,Austria,Abu Dhabi,Bahrain,Total
0,Hallo,Alfa Romeo,0,21,21,21,21,21,105
1,Zimmi,Alpha Tauri,25,15,15,15,15,15,100
2,EDK,Aston Martin,0,18,18,18,18,18,90
3,Malte,Red Bull,6,6,6,6,6,10,36
4,Robin,Alpha Tauri,0,1,1,1,1,1,5
5,Schmiddi,Alfa Romeo,0,8,8,8,8,8,40
6,Timo,McLaren,0,2,2,2,2,2,10
7,Tino,Mercedes,0,10,10,10,10,10,50
8,Mullenbesen,Mercedes,0,0,0,0,0,0,0
9,Advatange,Williams,0,0,0,0,0,0,0
10,Navaz,Alpine,0,12,12,12,12,12,60
11,Ayfl,Ferrari,18,0,0,0,0,0,18
12,Sash,Williams,12,3,3,3,3,3,27
13,Anubis,Haas,0,0,0,0,0,0,0
14,Henry,Red Bull,21,4,4,4,4,4,41
15,Leon,Alpha Tauri,0,0,0,0,0,0,0
16,Knoot,McLaren,0,25,25,25,25,25,125
17,Boski,Alpine,0,0,0,0,0,0,0
18,KMAG,Ferrari,0,0,0,0,0,0,0
19,Pander,Aston Martin,0,0,0,0,0,0,0

print(os.getcwd())

In [53]:
path = f'{os.getcwd()}\SKL_League/'
save_standings_to_csv(old_Standings, league_name, True)